# Compiled object files
*.o
*.ko
*.obj
*.elf

# Executables
*.exe
*.out
*.app

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.dll
*.so

# IDE files
.vscode/
.idea/
*.sln
*.vcxproj
*.xcodeproj

# Dependency directories
lib/
bin/